<ejs-toast #element (created)="onCreate($event)" [position]='position' [animation]="animation"></ejs-toast>

<div class="content-wrapper text-sm">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-5">
          <h5 class="m-0 text-dark">Reparatition des subventions </h5>
        </div>
        <div style="margin-left: -3%" class="col-3  ml-4 mt-auto">
          <!--          <form [formGroup]="validerFormCampagne">-->
          <!--            <select-->
          <!--              (change)="checkRegionAndCamp()"-->
          <!--              formControlName="idCampaign"-->
          <!--              class="form-control form-control-sm">-->
          <!--              <option selected disabled value=""> &#45;&#45; selectionner une campagne &#45;&#45;-->
          <!--              </option>-->
          <!--              <option *ngFor="let ca of campagnes" value="{{ca.id}}">-->
          <!--                {{ca.code}}-->
          <!--              </option>-->
          <!--            </select>-->
          <!--          </form>-->
        </div>
        <div style="margin-left: -3%" class="col-3 ml-4 mt-auto">
          <form [formGroup]="validerFormregion">
            <select
              (change)="changeReion()"
              formControlName="idRegion"
              class="form-control form-control-sm">
              <option hidden selected>
                {{region.name}}
              </option>
              <option value="{{reg.id}}" *ngFor="let reg of regions ; let i = index ">
                {{i + 1}} - {{reg.name}}
              </option>
            </select>

          </form>
        </div>


      </div>
      <hr>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="col">
          <p class="text-center font-weight-bold"
             *ngIf="this.selectedCampagne!=null || this.selectedCampagne!=undefined">
            {{this.selectedCampagne[0].code}} -- {{this.selectedCampagne[0].description }}
          </p>
          <div class="row justify-content-md-center">

            <div class="control-section">
              <div class="row">
                <div class="col-sm-6">
                  <div class='e-mastertext'><p class="text-center font-weight-bold">Liste des Campagnes </p></div>
                  <ejs-grid #mastergrid id="mastergrid" [dataSource]='data' [selectedRowIndex]="0"
                            (rowSelected)="onRowSelected($event)" (queryCellInfo)='tooltip($event)'>
                    <e-columns>
                      <e-column field='campaign' headerText='Code' width='100'>
                        <ng-template #template let-data>
                          {{data.campaign.code}}
                        </ng-template>
                      </e-column>
                      <e-column field='description' headerText='Description Campagne' width='150'>
                        <ng-template #template let-data>
                          {{data.campaign.description}}
                        </ng-template>
                      </e-column>
                      <e-column field='totalCamp' headerText='' width='100'>
                        <ng-template #template let-data>

                        </ng-template>

                      </e-column>
                      <e-column field='totalCost' headerText='Montant' width='120'>
                        <ng-template #template let-data>
                          {{data.campaign.totalCost.toLocaleString()}}
                        </ng-template>

                      </e-column>

                    </e-columns>
                    <e-aggregates>
                      <e-aggregate>
                        <e-columns>
                          <e-column field="totalCamp" type="max">
                            <ng-template #footerTemplate let-data>
                              <div class="text-success font-weight-bold">{{data.max.toLocaleString()}}</div>
                            </ng-template>
                          </e-column>
                        </e-columns>
                      </e-aggregate>
                    </e-aggregates>
                  </ejs-grid>
                </div>
                <div class="col-sm-6">
                  <div class='e-statustext'><p class="text-center font-weight-bold">Detail de la campagne : {{key}}</p>
                  </div>
                  <ejs-grid #detailgrid id="detailgrid" [dataSource]='data' [selectedRowIndex]="0"
                            (rowSelected)="onRowSelectedChild($event)">
                    <e-columns>
                      <e-column field='name' headerText='Libellé' width='150'></e-column>
                      <e-column field='quantity' headerText='Quantité' width='100'>
                        <ng-template #template let-data>
                          <div *ngIf="data.quantity!=undefined">  {{data.quantity.toLocaleString()}}</div>

                        </ng-template>
                      </e-column>
                      <e-column field='unit' headerText="Unité" width='80'>
                        <ng-template #template let-data>
                          <div *ngIf="data.unit!=undefined">{{data.unit.toLocaleString()}}</div>
                        </ng-template>
                      </e-column>
                      <e-column field='unitCost' headerText="Prix unitaire" width='120'>
                        <ng-template #template let-data>
                          <div *ngIf="data.unitCost!=undefined"> {{data.unitCost.toLocaleString()}}</div>
                        </ng-template>
                      </e-column>
                      <e-column field='totalCost' headerText="Montant" width='120'>
                        <ng-template #template let-data>
                          <div *ngIf="data.totalCost!=undefined">{{data.totalCost.toLocaleString()}}</div>
                        </ng-template>
                      </e-column>
                    </e-columns>
                    <e-aggregates>
                      <e-aggregate>
                        <e-columns>
                          <e-column field="quantity" type="sum">
                            <ng-template #footerTemplate let-data>{{data.sum.toLocaleString()}}</ng-template>
                          </e-column>
                          <!--                          <e-column field="unitCost" type="sum">-->
                          <!--                            <ng-template #footerTemplate let-data>{{data | json}}</ng-template>-->
                          <!--                          </e-column>-->
                          <e-column field="unitCost" type="sum">
                            <ng-template #footerTemplate let-data>{{data.sum.toLocaleString()}}</ng-template>
                          </e-column>
                          <e-column field="totalCost" type="sum">
                            <ng-template #footerTemplate let-data>
                              <div class="text-success font-weight-bold">{{data.sum.toLocaleString()}}</div>
                            </ng-template>
                          </e-column>
                        </e-columns>
                      </e-aggregate>
                    </e-aggregates>
                  </ejs-grid>
                </div>
              </div>
              <br>
              <div class="row">

                <div class="col-sm-12">
                  <p class="text-center font-weight-bold" *ngIf="keyIntrant!=undefined">
                    <a *ngIf="keyIntrant.id!=undefined">Liste des Agriculteurs de
                      l'intrant :  {{keyIntrant.name}} </a>
                  </p>
                  <ejs-grid #detailgridChild id="detailgridChild" [allowSelection]='false' [dataSource]='data'>
                    <e-columns>
                      <e-column field='farmerFirstName' headerText='farmerFirstName' width='150'></e-column>
                      <e-column field='farmerLastName' headerText='farmerLastName' width='100'></e-column>
                      <e-column field='farmerNNI' headerText="farmerNNI" width='80'></e-column>
                      <e-column field='acreage' headerText=" acreage" width='120'></e-column>
                      <e-column field='longitude' headerText="longitude" width='120'></e-column>
                      <e-column field='latitude' headerText="latitude" width='120'></e-column>
                      <e-column field='quantity' headerText="quantity de sortie" width='120'>
                        <ng-template #template let-data>
                          <div *ngFor="let es of data.estimationCostQuantities">
                            <div *ngIf="es.agriculturalInputId===keyIntrant.id">{{es.quantity}}</div>
                          </div>
                        </ng-template>
                      </e-column>
                      <e-column field='totalCamp' headerText="Montant" width='100'>
                        <ng-template #template let-data>
                        </ng-template>
                      </e-column>
                    </e-columns>

                    <e-aggregates>
                      <e-aggregate>
                        <e-columns>
                          <e-column field="acreage" type="sum">
                            <ng-template #footerTemplate let-data>{{data.sum.toLocaleString()}}</ng-template>
                          </e-column>
                          <e-column field="quantity" type="max">
                            <ng-template #footerTemplate let-data>
                              <div
                                *ngIf="keyIntrant!=undefined && keyIntrant.consoQuantityByIntrant!=undefined">{{keyIntrant.consoQuantityByIntrant.toLocaleString()}}</div>
                            </ng-template>
                          </e-column>
                          <e-column field="totalCamp" type="max">
                            <ng-template #footerTemplate let-data>
                              <div class="text-danger font-weight-bold h5"
                                   *ngIf="keyIntrant!=undefined  && keyIntrant.prixTot!=undefined"><i class="fas fa-arrow-down">{{keyIntrant.prixTot.toLocaleString()}}</i></div>
                            </ng-template>
                          </e-column>
                        </e-columns>
                      </e-aggregate>
                    </e-aggregates>
                  </ejs-grid>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

  </div>
</div>
