<ejs-toast #element (created)="onCreate($event)" [animation]="animation" [position]='position'></ejs-toast>

<div class="content-wrapper text-sm">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="col">
        <div class="row mb-2">
          <div class="col-sm-3">
            <h6 class="mt-1 text-dark">Liste des éléments de salaires</h6>
          </div>
          <div class="col-sm-2">
            <ng-select
              (change)="changeMonth(selectedMois)"
              [(ngModel)]="selectedMois"
              [clearable]="true"
              [searchable]="true"
              appearance="outline"
              bindLabel="name"
              class="custom-class"
              placeholder="selection mois"
            >
              <ng-option *ngFor="let mois of getMonthInMvm  " value="{{mois}}">
                {{mois}}
              </ng-option>

            </ng-select>
          </div>
          <div class="col-sm-4">
            <ng-select
              (change)="changeService(selected)"
              [(ngModel)]="selected"
              [clearable]="true"
              [searchable]="true"
              appearance="outline"
              bindLabel="name"
              class="custom-class"
              placeholder="Selection / recherche d'etablissement"
            >
              <ng-option  *ngFor="let codeService of tabCodeServices  " value="{{codeService.codeService}}">
                <a class="col-sm-3"> {{codeService.codeService}} - {{codeService.descrService}} </a>

                  <a class="col-sm-1" *ngIf="codeService.etat1 === true;else login">
                   <i class="fas fa-check " style="color: #00cc00"></i>
                  </a>
                  <ng-template #login>
                    <a class="col-sm-1">
                      <i class="fas fa-ellipsis-h " style="color: #e60000"></i>
                    </a>
                  </ng-template>
                <a class="col-sm-1" *ngIf="codeService.etat2 === true;else login">
                   <i class="fas fa-check" style="color: #00cc00"></i>
                  </a>
                  <ng-template #login>
                    <a class="col-sm-1">
                      <i class="fas fa-ellipsis-h " style="color: #e60000"></i>
                    </a>
                  </ng-template>

              </ng-option>

            </ng-select>

            <!-- /.col -->
          </div>
          <div class="col-sm-1 ">
            <button (click)="validationMvm()"
                    [disabled]="tailleSelect===undefined || tailleSelect===null || tailleSelect===0 "
                    class="btn btn-sm btn-success "
                    type="button">
              <i class="bi bi-check"></i> Valider({{tailleSelect}})
            </button>
          </div>
          <div class="col-sm-1" style="margin-left: 1%;">
            <button  (click)="deleteInMvm()" [disabled]="tailleSelect===undefined || tailleSelect===null || tailleSelect===0 "
                    class=" btn btn-sm btn-danger "
                    type="button">
              <i class="bi bi-check"></i>Supprimer({{tailleSelect}})
            </button>
          </div>
        </div>
        <hr>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="col">
          <div class="row justify-content-md-center">
            <div class="col-md-12">
              <ejs-grid
                #grid
                (dataBound)='dataBound($event)'
                (rowDataBound)="rowDataBound($event)"
                (rowDeselected)="rowDeSelected($event)"
                (rowSelected)='rowSelected($event)'
                [allowGrouping]='true'
                [allowSelection]="true"
                [dataSource]='tabMvm'
                [groupSettings]='groupOptions'
                [selectionSettings]='selectionOptions'
                [toolbar]='toolbar'
                gridLines="Both"
                height=360
                id="gridcomp"
              >
                <e-columns>
                  <e-column textAlign='Left' type="checkbox" width="33"></e-column>
                  <e-column field='matricule' headerText='Matricule' textAlign='Left' width=100>
                    <ng-template #template let-data>
                      {{data.matDateCp.matricule}}
                    </ng-template>
                  </e-column>
                  <e-column field='nomPrenom' headerText='Nom & Prenom' textAlign='Left' width=140></e-column>
                  <e-column field='amontant' headerText='A Montant' textAlign='Left' width=100></e-column>
                  <e-column field='codePost' headerText='Code' textAlign='Left' width=80>
                    <ng-template #template let-data>
                      {{data.matDateCp.codePost}}
                    </ng-template>
                  </e-column>
                  <e-column field='montant' headerText='N Montant' textAlign='Left' width=120></e-column>
                  <e-column field='ecart' headerText='Ecart' textAlign='Left' width=100></e-column>
                  <e-column field='devise' headerText='Devise' textAlign='Left' width=100></e-column>
                  <e-column field='dateModificateur' format="date" headerText='Date MAJ' textAlign='Left'
                            type="dd/MM/yyyy"
                            width=100></e-column>
                  <e-column field='validation1' headerText='V1' textAlign='Left' width=90>
                    <ng-template #template let-data>
                      <div *ngIf="data.validation1 === true;else login" class="statustemp e-activecolor">
                        <span class="statustxt e-activecolor">  Validé</span>
                      </div>
                      <ng-template #login>
                        <div class="statustemp e-inactivecolor">
                          <span class="statustxt e-inactivecolor"> en attente</span>
                        </div>
                      </ng-template>
                    </ng-template>
                  </e-column>
                  <e-column field='validation2' headerText='V2' textAlign='Left' width=90>
                    <ng-template #template let-data>
                      <div *ngIf="data.validation2 === true;else login" class="statustemp e-activecolor">
                        <span class="statustxt e-activecolor">  Validé</span>
                      </div>
                      <ng-template #login>
                        <div class="statustemp e-inactivecolor">
                          <span class="statustxt e-inactivecolor"> en attente</span>
                        </div>
                      </ng-template>
                    </ng-template>
                  </e-column>
                </e-columns>
                <e-aggregates>
                  <e-aggregate>
                    <e-columns>
                      <e-column [customAggregate]="customAggregateFn" type="Custom">
                        <ng-template #footerTemplate let-data> {{data.Custom}}</ng-template>
                      </e-column>
                      <e-column field="amontant" type="text">
                        <ng-template #groupFooterTemplate let-data>{{data.text}} MRU</ng-template>
                      </e-column>
                      <e-column field="montant" type="text">
                        <ng-template #groupFooterTemplate let-data>{{data.text}} MRU</ng-template>
                      </e-column>
                      <e-column field="devise" type="text">
                        <ng-template #groupCaptionTemplate
                                     let-data>{{data.text}}</ng-template>
                      </e-column>
                      <e-column field="devise" type="sum">
                        <ng-template #groupFooterTemplate let-data>{{data.sum}}</ng-template>
                      </e-column>
                      <!--                      <e-column field="devise" type="sum">-->
                      <!--                        <ng-template #groupCaptionTemplate-->
                      <!--                                     let-datatauxChancelerie>{{datatauxChancelerie.sum}} {{deviseCle}}</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column field="perteGain" type="sum">-->
                      <!--                        <ng-template #groupCaptionTemplate let-dataperteGain>{{dataperteGain.sum}} (MRU)</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column field="devise" type="Max">-->
                      <!--                        <ng-template #groupFooterTemplate let-dataDevise>{{dataDevise.Max}} {{deviseCle}}</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column field="perteGain" type="Max">-->
                      <!--                        <ng-template #groupFooterTemplate let-dataperteGain>{{dataperteGain.Max}} MRU</ng-template>-->
                      <!--                      </e-column>-->

                      <!--                      <e-column field="montant" type="sum">-->
                      <!--                        <ng-template #groupFooterTemplate let-data2>{{data2.sum}} MRU</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column  field="ecart" type="sum" >-->
                      <!--                        <ng-template  #groupFooterTemplate let-data22> {{data22.sum}}</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column  field="montant" type="sum" >-->
                      <!--                        <ng-template #footerTemplate let-data1>Somme : {{data1.sum}}</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column  field="ecart" type="sum" >-->
                      <!--                        <ng-template #footerTemplate let-data2> {{data2.sum}}</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column  field="amontant" type="sum" >-->
                      <!--                        <ng-template #footerTemplate let-dataf>Somme: {{dataf.sum}}</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column  field="devise" type="sum" >-->
                      <!--                        <ng-template #footerTemplate let-data3> {{data3.sum}} {{deviseCle}}</ng-template>-->
                      <!--                      </e-column>-->
                      <!--                      <e-column  field="devise" type="sum" >-->
                      <!--                        <ng-template  #groupFooterTemplate let-data33> {{data33.sum}} {{deviseCle}}</ng-template>-->
                      <!--                      </e-column>-->
                    </e-columns>
                  </e-aggregate>
                </e-aggregates>
              </ejs-grid>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
