.statustxt.e-activecolor {
  color: #00cc00;
  //position: relative;
  top: 9px;
}
.statustxt.e-inactivecolor {
  color: #e60000;
  //position: relative;
  top: 9px;
}
.cssDialog{
  width: 20% !important;
}
.e-alert-dialog.e-dialog.e-popup,.e-confirm-dialog.e-dialog.e-popup{
  width: 20% !important;

}
